
html,

header { 
    display: block;
	 text-align: center;
}
.header-1{
 border-bottom: 2px solid #eee;
 
}
.bd{
  background-color:black;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  margin-top: 100px;
}
.cll {
	background-color:#000;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #333;
  margin-top: 100px;
}
* {
    box-sizing: border-box;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
	
}


.pf{
	font-size:300px;
}
.a{
 box-shadow: 0px 0px 1px #888888;

}
section {

}
img{
width:100%;
height: auto;
}
figcaption:hover{
color: white;
background-color:#333;

}

.ab{
	text-align: center;
	box-shadow: 0px 0px 0.5px #888888;
	background-color:#eee;
}
.rr {
	
}
.lt{
	
	transition-duration: 0.9s;
   transition-property: transform;
    overflow:hidden;
}
.lt:hover{
	
	transform: scale(1.1, 1.1);
}
.model-s{
	
	transition-duration: 0.9s;
   transition-property: transform;
    overflow:hidden;
}
.model-s:hover{
	
	transform: scale(1.4, 1.4);
}
.model-x{
	 
	transition-duration: 0.9s;
    transition-property: transform;
    overflow:hidden;
}
.model-x:hover{
	transform: translateX(-300px) scale(1.4, 1.4);
	

}
.model-3{
	 
	 transition-duration: 0.9s;
     transition-property: transform;
    overflow:hidden;
	
}
.model-3:hover{

	  transform: translateX(300px) scale(1.4, 1.4);
		
}
.im {
    width: 100%;
    height: 228px;
	width:200px;
    z-index:-1;
	transition-duration: 0.9s;
    transition-property: transform;
    overflow:hidden;
}
.im:hover {
	transform:rotate(360deg);
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    .col-c-1 {width: 8.33%;}
    .col-c-2 {width: 16.66%;}
    .col-c-3 {width: 25%;}
    .col-c-4 {width: 33.33%;}
    .col-c-5 {width: 41.66%;}
    .col-c-6 {width: 50%;}
    .col-c-7 {width: 58.33%;}
    .col-c-8 {width: 66.66%;}
    .col-c-9 {width: 75%;}
    .col-c-10 {width: 83.33%;}
    .col-c-11 {width: 91.66%;}
    .col-c-12 {width: 100%;}
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 0px;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.pic {
box-shadow: 1px 6px 1px #888888;
}



ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px; }
  ul > li {
    padding-left: 20px; }
    ul > li:before {
      content: '-';
      display: inline-block;
      text-indent: -20px; }

p {
  font-family: "PT Serif", serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 18px; }
  @media (min-width: 1367px) {
    p {
      font-size: 21px; } }



.winner {
	background-color:black;
	color: black;
}
.winner:hover{
color:white;
}
.pull-right {
  float: right; }


nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  padding: 45px 50px 0; 
  box-shadow: 1px 1px 1px #000000;
  background-color: #eee;
  }


  
 
nav li {
    display: inline-block;
    font-size: 17px; 
	}
 
nav  li:before {
    content: none; 
	}
   

nav  li a {
      
    transition: all 0.5s;
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: bold;
    opacity: 1; 
		
	}
nav  li a:hover {
    opacity: .5; 
}
.opac a{
	opacity: .5;
}


footer {
   
    color: white;
    text-align: center;
	background-color: #333;
    width: 100%;
    bottom: 0;
    position: fixed;
}

