.introAnchor {
    font-size: 5rem;
    margin-right: 1%;
    margin-left: 1%;
    color: #f00;
    float: bottom;
}
body{
	background-color: #286090;
	color: #fff;
}
.gitlink {
    font-size: 3rem;
    margin-right: 5%;
    margin-left: 1%;
	color: #f00;
    float: bottom;
}
a {
    transition: all 0.5s;
	color: #fff;
    text-decoration: none;
    font-weight: bold;
    opacity: 1;
}
a:hover{
	
	opacity: .80;
    text-decoration: none;
}
.languages li{
display:inline-block;
background-color:#E5342C;
padding:1px 5px;
border-radius:5px;
font-weight:200;
color:#FFF;

text-transform:uppercase;
}
.jumbotron
{
	background-color: #111;
	
}
.text-center{
	color: #fff;
}
@media screen and (min-width: 480px) {
	.a, .b{
	padding-left:20%;
	padding-right:20%;
	}
	}